body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container{
    position: relative;
}

header {
    font-family: Courier, monospace;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.header-responsive-img {
    max-width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 10px;
}


.responsive-img {
    max-width: 100px;
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 10px 0;
}        

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #555;
}

section {
    padding: 20px;
}



/*@media (max-width: 768px) {
    /* CSS cho thiết bị di động */
    /*nav {
        flex-direction: column;
    }
}*/

#product{
    margin:auto;
    position: absolute;
    width: auto;
}

.menu-block{
    border-radius: 5px;
    box-shadow: 0 0 5px silver;
    position: relative;
    display: inline-block;
    margin: 50px 100px 5px 10px;
    padding: 15px 0px;
    text-align: center;
    width: 200px;
    border: 1px solid black;
}

.menu-block:hover{
    box-shadow: 0 0 5px red;
}

.menu-title{
    font-size: 18px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 1px solid black;
}

.menu-item{
    text-align: left;
}

.menu-item table{
    width: 100%;
}

.menu-item td{
    padding-left: 10px;
}




footer {
    background-color: #333;
    color: #FFF;
    height: auto;
    margin: 5px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}